<idea-plugin version="2" xmlns:xi="http://www.w3.org/2001/XInclude">
  <id>jetbrains.mps.LangDoc</id>
  <name>LangDoc</name>
  <category>Custom Languages</category>
  <description>MPS language documentation support</description>
  <version>2021.1</version>
  <vendor url="https://github.com/vaclav/LangDoc" logo="/MPS_16.png">Vaclav Pech</vendor>
  <idea-version since-build="211.1" until-build="212.1"/>

  <depends>jetbrains.mps.core</depends>

  <extensions defaultExtensionNs="com.intellij">
    <mps.LanguageLibrary dir="/"/>
    <errorHandler implementation="jetbrains.mps.ide.blame.CharismaReporter"/>
  </extensions>
</idea-plugin>
