<idea-plugin version="2" xmlns:xi="http://www.w3.org/2001/XInclude">
  <id>jetbrains.mps.LangDoc</id>
  <name>LangDoc</name>
  <category>Custom Languages</category>
  <description><![CDATA[
  MPS language documentation support. Allows annotation language definitio with documentational comments.<br/>
]]>
  </description>
  <version>2024.1</version>
  <vendor url="https://github.com/vaclav/LangDoc" logo="/MPS_16.png">Vaclav Pech</vendor>
  <idea-version since-build="241.1" until-build="242.1"/>

  <depends>jetbrains.mps.core</depends>

  <extensions defaultExtensionNs="com.intellij">
    <mps.LanguageLibrary dir="/"/>
    <errorHandler implementation="jetbrains.mps.ide.blame.CharismaReporter"/>
  </extensions>
</idea-plugin>
